<nav>
    <button mat-button  (click)="navigateBack()">Go Back</button>
</nav>

<form class="form" (ngSubmit)="isEdit ? updateTag() : addTag()">
    <mat-form-field>
        <mat-label>Tag Title</mat-label>
        <input matInput name="title" type="text" placeholder="title" [(ngModel)]="newTag.title" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tag Color</mat-label>
        <input matNativeControl name="color"  type="color" placeholder="color" [(ngModel)]="newTag.color"/>
    </mat-form-field>
    
    <button mat-raised-button color="accent" type="submit">{{isEdit ? "Edit Tag" : "Create Tag"}}</button>
</form>
