<nav>
    <button mat-button (click)="navigateBack()">Go Back</button>
</nav>

<form class="form" (ngSubmit)="isEdit ? updateProduct() : addProduct()">
    <mat-form-field>
        <mat-label>Product Name</mat-label>
        <input matInput ="text" name="name" placeholder="name" [(ngModel)]="newProduct.name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Product Description</mat-label>
        <input matInput type="text"  name="description" placeholder="description" [(ngModel)]="newProduct.description"> 
    </mat-form-field>

    <mat-form-field>
        <mat-label>Product Price</mat-label>
        <input matInput type="number"  name="price" placeholder="price" [(ngModel)]="newProduct.price">
    </mat-form-field>

   <fieldset *ngIf="(tags$ | async)?.length">
        <legend>Choose tags</legend>

        <mat-checkbox *ngFor='let tag of tags$ | async' (change)="onChange(tag, $event.checked)" [checked]="newProduct.tags.includes(tag)">
            <div class="checkbox-label">
                <p class="checkbox-label-title">{{tag.title}}</p>
                <div [style.backgroundColor]="tag.color" class="tag"></div>
            </div>
        </mat-checkbox>
    </fieldset> 
   
    <button type="submit" mat-raised-button color="accent">{{isEdit ? "Edit Product" : "Create Product"}}</button>
</form>
