<nav>
    <button mat-button (click)="navigateBack()">Go Back</button>
</nav>

<form class="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Product Name</mat-label>
        <input matInput ="text" formControlName="name" name="name" placeholder="name">
        <div *ngIf="productForm.get('name')?.dirty || productForm.get('name')?.touched">
            <div *ngIf="productForm.get('name')?.hasError('required')">Name is required</div>
            <div *ngIf="productForm.get('name')?.hasError('pattern')">Name cannot be empty</div>
        </div>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Product Description</mat-label>
        <input matInput type="text" formControlName="description" name="description" placeholder="description"> 
    </mat-form-field>

    <mat-form-field>
        <mat-label>Product Price</mat-label>
        <input matInput type="number" formControlName="price" name="price" placeholder="price" min="0">
        <div *ngIf="productForm.get('price')?.dirty">
            <div *ngIf="productForm.get('price')?.hasError('required')">Price is required</div>
            <div *ngIf="productForm.get('price')?.hasError('min')">Price must be a positive number</div>
        </div>
    </mat-form-field>

   <fieldset *ngIf="(tags$ | async)?.length">
        <legend>Choose tags</legend>

        <mat-checkbox *ngFor='let tag of tags$ | async' (change)="onChange(tag, $event.checked)" [checked]="newProduct.tags.includes(tag)">
            <div class="checkbox-label">
                <p class="checkbox-label-title">{{tag.title}}</p>
                <div [style.backgroundColor]="tag.color" class="tag"></div>
            </div>
        </mat-checkbox>
    </fieldset> 
   
    <button type="submit" [disabled]="!productForm.valid" mat-raised-button color="accent">{{isEdit ? "Edit Product" : "Create Product"}}</button>
</form>
